.header {
    background: #000;
    height: 30vh;
    justify-content: center;
    text-align: center;
  }
  
  .container {
    display: block;
    height: 100%;
    width: 100%;
    justify-self: center;
  }
  
  .cover,
  .logo {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
  }
  
  /* Screen max-width: 896 */
  @media only screen and (max-width: 896px) {
    .header {
      height: 180px;
    }
  }
  
  /* Screen max-width: 640 */
  @media only screen and (max-width: 670px) {
    .header {
      height: 140px;
    }
    .cover,
    .logo {
      max-width: 100%;
      max-height: 80%;
      margin-top: 3%;
    }
  }
  
  /* Screen max-width: 420 */
  @media only screen and (max-width: 420px) {
    .header {
      height: 120px;
    }
  }
  /* Screen max-width: 375 */
  @media only screen and (max-width: 375px) {
    .header {
      height: 100px;
    }
  }
  
  /* Screen max-width: 298 */
  @media only screen and (max-width: 298px) {
    .header {
      height: 80px;
    }
  }
  
  /* Screen max-width: 240 */
  @media only screen and (max-width: 240px) {
    .header {
      height: 60px;
    }
  }
  
  /* Screen max-width: 190 */
  @media only screen and (max-width: 190px) {
    .header {
      height: 40px;
    }
  }
  
  /* Screen max-width: 155 */
  @media only screen and (max-width: 155px) {
    .header {
      height: 20px;
    }
  }