<div class="first-container">

    <div class="title-text">
        <p class="title">תכנית חממת המעצבים, מחזור 2022</p>
        <br>
        <p class="text-medium">מוזמנים להשאיר פרטים על מנת שנוכל לעדכן אתכם בתוכניות ומזימות נוספות שלנו :)</p>
        <br>
        <p class="text-premail">לשאלות נוספות מוזמנות/ים לכתוב למנהלת חממת המעצבים ענת ציגלמן <span class="text-mail">terminal@outbox.org.il</span></p>
    </div>

    <div class="form-first">
        <p class="form-title">רוצים להמריא?? <span class="form-title-bolt">הירשמו כאן!</span></p>
        <form  [formGroup]="reg1FormGroup" (ngSubmit)="sendFirst()">     
            <div class="form-itself">
                
                <label class="label">שם מלא</label>
                <mat-form-field appearance="fill">
                    <input matInput class="form-input" formControlName="nameCtrl">
                    <mat-error *ngIf="!reg1FormGroup.get('nameCtrl').valid">נא להזין שם מלא.</mat-error>

                </mat-form-field>
                
                <mat-label class="label">טלפון</mat-label>
                <mat-form-field appearance="fill">
                    <input type="tel" matInput class="form-input"  formControlName="phoneCtrl">
                    <mat-error *ngIf="!reg1FormGroup.get('phoneCtrl').valid">נא להזין מספר טלפון תקין.</mat-error>

                </mat-form-field>
    
                <mat-label class="label">דואר אלקטרוני</mat-label>
                <mat-form-field appearance="fill">
                    <input matInput type="email"  class="form-input"   formControlName="emailCtrl">
                    <mat-error *ngIf="!reg1FormGroup.get('emailCtrl').valid">נא להזין כתובת דואר אלקטרוני תקינה.</mat-error>

                </mat-form-field>
    
                <mat-label class="label">כמה מילים עליך וכיצד נוכל לעזור?</mat-label>
                <mat-form-field appearance="fill">
                    <textarea matInput class="form-input" placeholder="כמה מילים עליך וכיצד נוכל לעזור?" formControlName="needsCtrl"></textarea>
                </mat-form-field>

                <button mat-stroked-button type="submit" class="btn-send" [disabled]="!isFilled()">שליחה</button>
                <mat-error *ngIf="regError.error">{{regError.msg}}</mat-error>
                
            </div>
        </form>

    </div>

    <button
      styles="display:none"
      mat-button (click)="openDialog()">Launch dialog</button>

</div>

